ROOT="$IMS_STORAGE_PATH"
PENDING_PATH="$IMS_BUFFER_PATH"

CYTOMINE_PUBLIC_KEY="$IMS_PUB_KEY"
CYTOMINE_PRIVATE_KEY="$IMS_PRIV_KEY"
PIMS_URL="$HTTP_PROTOCOL://$IMS_URL"

DEFAULT_IMAGE_SIZE_SAFETY_MODE="SAFE_REJECT"
DEFAULT_ANNOTATION_ORIGIN="LEFT_TOP"
OUTPUT_SIZE_LIMIT="15000"

CACHE_ENABLED="$PIMS_CACHE_ENABLED"
CACHE_URL="redis://$PIMS_CACHE_ALIAS:$PIMS_CACHE_PORT"

TASK_QUEUE_ENABLED="$PIMS_TASK_QUEUE_ENABLED"
TASK_QUEUE_URL="$RABBITMQ_PIMS_ALIAS:5672"
TASK_QUEUE_USER="$RABBITMQ_LOGIN"
TASK_QUEUE_PASSWORD="$RABBITMQ_PASSWORD"

BIOFORMATS_ENABLED="$BIOFORMAT_ENABLED"
BIOFORMATS_HOST="$BIOFORMAT_ALIAS"
BIOFORMATS_PORT="$BIOFORMAT_PORT"
