upstream slide-seg-frontend-proxy {
    server $SLIDE_SEG_FRONTEND_ALIAS:$SLIDE_SEG_FRONTEND_PORT;
    #server 172.17.0.1:5000;
}

upstream slide-seg-ws-proxy {
    server ws:3000;
}

server {
    listen  80;
    server_name $SLIDE_SEG_URL;
    #listen  443 ssl http2;

    #ssl_certificate /certificates/$SLIDE_SEG_URL.pem;
    #ssl_certificate_key /certificates/$SLIDE_SEG_URL-key.pem;

    location / {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;
        proxy_pass http://slide-seg-frontend-proxy;
    }

    location /socket.io {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;
        proxy_pass http://slide-seg-ws-proxy;
    }

}